<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.12.1" targetFramework="net461" />
  <package id="Ben.Demystifier" version="0.1.4" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="74.0.0" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.24.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="74.0.3729.6" targetFramework="net461" />
  <package id="Selenium.WebDriver.WaitExtensions" version="1.0.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net461" />
  <package id="WebDriverManager" version="2.6.0" targetFramework="net461" />
</packages>